<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDZzpZD61TIUbVGi0NQn_TLxBShqyd-Z2Y</string>
	<key>GCM_SENDER_ID</key>
	<string>1006019944575</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.nikitakosolapov.SwiftUI-Combine-and-Data</string>
	<key>PROJECT_ID</key>
	<string>swfitui-combine</string>
	<key>STORAGE_BUCKET</key>
	<string>swfitui-combine.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1006019944575:ios:00daaedba7fd0513ef9f4a</string>
</dict>
</plist>